/* Estilo para el contenedor de la tarea */
.tarea-container {
  position: relative;
  padding: 10px;
}

/* Estilo para el botón delete */
.delete-button {
  visibility: hidden; /* Inicialmente invisible */
  position: absolute;
  right: 10px; /* Ajusta según necesites */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Centra verticalmente */
  transition:
    visibility 0.3s,
    opacity 0.3s; /* Transición suave */
  opacity: 0;
}

/* Mostrar el botón cuando el ratón pasa sobre el contenedor */
.tarea-container:hover .delete-button {
  visibility: visible;
  opacity: 1;
}
